<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{$ctrl.header}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
               <p ng-repeat="item in $ctrl.content track by $index">{{item}}</p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="$ctrl.closeDialog()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>